.bg {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #A9BCD0 0%, #625B97 25%, #18435A 51%, #000000 100%);
    -webkit-animation: AnimateBG 10s ease infinite;
            animation: AnimateBG 10s ease infinite;
    z-index: -1;
  }

  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    height: 100%;
    width: 100%;
  }
  
  @-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @media (max-width: 767px) {
    .name {
      font-size: 3rem;
      text-align: center;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .name {
      font-size: 5rem;
      
    }
    
  }
