* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Titan+One&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Righteous';
}

p, span {
    font-family: 'Roboto'
}

@tailwind base;
@tailwind components;
@tailwind utilities;