.skills {
    width: 100%;
    padding: 5rem 6rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .skills h2 {
    font-size: 4.5rem;
  }

  .skills p {
    font-size: 1.25rem;
    padding: 0.75rem 0;
  }

  .skills h2, p {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.skill {
    border: solid 1px black;
    border-radius: 1rem;
    width: 8%;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    padding: 0.75rem;
}

.skill:hover {
  cursor: pointer;
}

.skill p {
    font-size: 1rem;
    padding: 0.5rem;
}

.skill-icons {
  width: 100%;
  gap: 1rem;
  padding: 1.25rem 0.75rem;
}

.skill img {
  height: 5rem;
  width: 5rem;
  margin: auto;
  display: grid;
}

.see-more {
  text-align: center;
  padding: 1.5rem;
}

.see-more button {
  background-color: #A9BCD0;
  border-radius: 1rem;
  width: 10rem;
  font-size: 1.25rem;
  padding: 0.75rem;
}

.see-more button:hover {
  background-color: #18435A;
  color: white;
}

@media (max-width: 767px) {
  .skills {
    padding: 2rem 0;
  }

  .skills h2 {
    font-size: 2.5rem;
  }

  .skills p {
    font-size: 1rem;
  }

  .skill {
    height: 4rem;
    width: 6rem;
    place-items: center;
  }

  .skill img {
    width: 3.5rem;
    height: 2rem;
  }

  .skill p {
    font-size: 0.75rem;
    padding: 0.25rem;
  }

  .skill-icons {
    padding: 0.25rem;
  }

  .see-more button {
    width: 6rem;
    font-size: 1rem;
    padding: 0.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .skills {
    padding: 2rem 0;
    text-align: center;
  }

  .skills h2 {
    font-size: 3.5rem;
    padding: 0;
  }

  .skills p {
    font-size: 1rem;
  }

  .skill {
    height: 6rem;
    width: 8rem;
    place-items: center;
  }

  .skill img {
    width: 5rem;
    height: 3rem;
  }

  .skill p {
    font-size: 0.75rem;
    padding: 0.25rem;
  }

  .skill-icons {
    padding: 0.25rem;
  }

  .see-more button {
    width: 6rem;
    font-size: 1rem;
    padding: 0.5rem;
  }
}